DB_HOST=db-mysql-nyc3-45861-do-user-37030471-0.f.db.ondigitalocean.com
DB_PORT=25060
DB_USER=doadmin
DB_PASSWORD=replace_with_your_password
DB_NAME=defaultdb
FLASK_PORT=5500
FLASK_SECRET_KEY=replace_with_strong_secret
TRANSLATE_API_URL=
TRANSLATE_API_KEY=
TRANSLATE_API_MODEL=gpt-4o-mini
